<h2>E - Kita Learning Topic</h2>

<table>
	<tr>
    <th>id</th>
    <th>question difficulty id</th>
    <th>question category id</th>
    <th>learning topic name</th>
    <th>learning topic image</th>
	</tr>
  <tr *ngFor="let topic of topics">
  	<a routerLink="/topicdetail/{{topic.id}}">
    <td>{{topic.id}}</td>
    </a>
    <td>{{topic.question_difficulty_id}}</td>
    <td>{{topic.question_category_id}}</td>
    <td>{{topic.learning_topic_name}}</td>
    <td>{{topic.learning_topic_image}}</td>
  </tr>
</table>