<div class="container">
  <button routerLink="/learning-topics-create" class="btn btn-success">
    add Learning Topic
  </button>
  <h2>E - Kita Learning Topic</h2>
<table>
  <tr>
    <th>id</th>
    <th>question category</th>
    <th>name</th>
    <th>image</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let topic of topics">
    <td>{{topic.id}}</td>
    <td>{{topic.questionCategory?.question_category_name}}</td>
    <td>{{topic.learning_topic_name}}</td>
    <td><img src="{{topic.learning_topic_image}}" width="128" height="64"></td>
    <td>
      <a routerLink="/learning-topics/{{topic.id}}">
        <button class="btn btn-primary"> Update</button>
      </a>
      <button class="btn btn-danger ml-2" (click)="delete(topic)"> Delete</button>
    </td>
  </tr>
</table>
</div>