<h2>E - Kita Items</h2>
<!-- <h2>items</h2>
    <ul *ngFor="let i of items">
    <li>{{i.name}}</li>
    </ul> -->

<table>
	<tr>
    <th>id</th>
    <th>item_category_id</th>
    <th>name</th>
    <th>item_desc</th>
    <th>star</th>
    <th>image</th>
    <th>x_coordinate</th>
    <th>y_coordinate</th>
    <th>item Category</th>
    <th>delete</th>
	</tr>
  <tr *ngFor="let item of items">
  	<a routerLink="/itemdetail/{{item.id}}">
    <td>{{item.id}}</td>
    </a>
    <td>{{item.item_category_id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.item_desc}}</td>
    <td>{{item.star}}</td>
    <td>{{item.image}}</td>
    <td>{{item.x_coordinate}}</td>
    <td>{{item.y_coordinate}}</td>
    <td>{{item.itemCategory?.id}}</td>
    <td>
      <button class="btn btn-danger" (click)="deleteItem(item)"> Delete</button>
    </td>
  </tr>
</table>
<a href="items-create"><button class="btn btn-success">create item</button></a>
<!-- <p>
Let's update the item component
</p>
<label>Select Level : </label>
<select [(ngModel)]="selectedOption">
   <option *ngFor="let o of options">
      {{o.name}}
   </option>
</select>
<br> -->
<!-- <button (click)="print()">Click me</button> untuk mengirim value-->
<!-- <p>Button output: {{ printedOption }}</p> untuk mencetak value -->

<!-- <label>Kategori : </label>
<div [ngSwitch]="selectedOption">
	<div *ngSwitchCase="'easy'">
		<select [(ngModel)]="selectedCategory">
		   <option>
		      {{categories[0].name}}
		   </option>
		</select>
	</div>
	<div *ngSwitchCase="'medium'">
		<select [(ngModel)]="selectedCategory">
		   <option>{{categories[0].name}}</option>
		   <option>{{categories[1].name}}</option>
		</select>
	</div>
	<div *ngSwitchCase="'hard'">
		<select [(ngModel)]="selectedCategory">
		   <option>{{categories[0].name}}</option>
		   <option>{{categories[1].name}}</option>
		   <option>{{categories[2].name}}</option>
		</select>
	</div>
</div>

Selected Category : {{selectedCategory}}
<br>

<label>Item Creation</label>
<div [ngSwitch]="selectedCategory">
	<div *ngSwitchCase="categories[0].name">
		CRUD {{categories[0].name}} item
	</div>
	<div *ngSwitchCase="categories[1].name">
		CRUD {{categories[1].name}} item
	</div>
	<div *ngSwitchCase="categories[2].name">
		CRUD {{categories[2].name}} item
	</div>
</div>

Learning Topic

<label>Select Topic : </label>
<select [(ngModel)]="selectedTopic">
   <option *ngFor="let topic of topics">
      {{topic.name}}
   </option>
</select>
Selected Topic : {{selectedTopic}}


<div>
	<h3>Tambah Item</h3>
  <label>Item Title : <input #title /></label>
  <label>Item Answer : <input #answer /></label>
  <label>Item xp : <input #xp /></label>
  <label>Item image : <input #image /></label>
  <label>Item sound : <input #sound /></label> -->
  <!-- (click) passes input value to add() and then clears the input -->
<!--   <button (click)="add(title);">
    add
  </button>
</div> -->