<h2>add Learning Topic</h2>
<div class="col-md-6">
  <form [formGroup]="addForm">
    
    <div class="form-group">
      <label for="question_difficulty_id">question_difficulty_id :</label>
      <input type="question_difficulty_id" formControlName="question_difficulty_id" name="question_difficulty_id" class="form-control" id="question_difficulty_id">
    </div>

    <div class="form-group">
      <label for="question_category_id">question_category_id :</label>
      <input type="question_category_id" formControlName="question_category_id" name="question_category_id" class="form-control" id="question_category_id">
    </div>

    <div class="form-group">
      <label for="learning_topic_name">learning_topic_name :</label>
      <input type="learning_topic_name" formControlName="learning_topic_name" name="learning_topic_name" class="form-control" id="learning_topic_name">
    </div>

    <div class="form-group">
      <label for="learning_topic_image">learning_topic_image :</label>
      <input type="learning_topic_image" formControlName="learning_topic_image" name="learning_topic_image" class="form-control" id="learning_topic_image">
    </div>
    <button (click)="onSubmit()" class="btn btn-success">Update</button>
  </form>
</div>