<h2>add Learning Topic</h2>
<div class="container">
  <form [formGroup]="addForm">
    <div class="form-group">
      <label>Difficulty</label>
      <select formControlName="question_category_id" class="form-control">
            <option value="">-- choose Category --</option>
            <option *ngFor="let i of questionCategories" value="{{i.id}}">
                  {{i.question_category_name}}
            </option>
      </select>
    </div>

    <div class="form-group">
      <label>learning topic name </label>
      <input type="text" formControlName="learning_topic_name" class="form-control">
    </div>

    <div class="form-group">
      <label>learning_topic_image</label>
      <input type="file" (change)="onFileChanged($event)" class="form-control">
    </div>
    <button (click)="goBack()" class="btn btn-secondary">Back</button>
    <button (click)="onUpload()" class="btn btn-success ml-2">Create</button>
  </form>
</div>