<h2>add Question Difficulty</h2>
<div class="col-md-6">
  <form [formGroup]="addForm">
    <div class="form-group">
      <label for="question_difficulty_name">Difficulty :</label>
      <input type="question_difficulty_name" formControlName="question_difficulty_name" placeholder="Level name" name="question_difficulty_name" class="form-control" id="question_difficulty_name">
    </div>

    <button (click)="onSubmit()" class="btn btn-success">Update</button>
  </form>
</div>
<!-- method bawaan angular -->
<!-- <div>
  <label>Level name:
    <input #levelName />
  </label>
  <button (click)="createQuestionDifficulty(levelName.value); levelName.value=''">
    add
  </button>
</div> -->