<h2>E - Kita Question Category</h2>
<a href="question-categories-create"><button class="btn btn-success ml-2">create question Category</button></a>
<table>
	<tr>
    <th>id</th>
    <th>name</th>
    <th>delete</th>
	</tr>
  <tr *ngFor="let l of categories">
      <td>{{l.id}}</td>
    <td>{{l.question_category_name}}</td>
    <td>
        <a routerLink="/question-categories/{{l.id}}">
          <button class="btn btn-primary" type="submit"> Update</button>
        </a>
        <button class="btn btn-danger ml-2" type="submit" (click)="delete(l)"> Delete</button>
    </td>
  </tr>
</table>