<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="/dashboard">Dashboard page</a>
  <a routerLink="/users">Users page</a>
  <a routerLink="/items">Items page</a>
  <a routerLink="/question-difficulties">question difficulty</a>
  <a routerLink="/learning-topics">learning topic</a>
  <a routerLink="/question-categories">question category</a>
  <a routerLink="/learning-items">Learning Items</a>
  <a routerLink="/challenges">Challenges</a>
  <a routerLink="/answers">Answers</a>
</nav>


<!-- <app-heroes></app-heroes> -->
<router-outlet></router-outlet>
