<div class="container-fluid">
  <h2 class="text-center">Add Challenge</h2>
  <form [formGroup]="addForm">

    <div class="form-group">
      <label>question_difficulty_id</label>
      <!-- <input formControlName="question_difficulty_id" class="form-control" type="text"> -->
      <select formControlName="question_difficulty_id" class="form-control">
        <option *ngFor="let qd of questionDifficulties" value="{{qd.id}}">
          {{qd.question_difficulty_name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>question_category_id</label>
      <select formControlName="question_category_id" class="form-control">
        <option *ngFor="let q of questionCategories" value="{{q.id}}">
          {{q.question_category_name}}
        </option>
      </select>
      <!-- <input formControlName="question_category_id" type="text" class="form-control"> -->
    </div>

    <div class="form-group">
      <label>challenge_xp</label>
      <input type="text" formControlName="challenge_xp" class="form-control">
    </div>

    <div class="form-group">
      <label>challenge_star </label>
      <input type="text" formControlName="challenge_star" class="form-control">
    </div>

    <div class="form-group">
      <label>challenge_image </label>
      <input type="file" (change)="onFileChanged($event)" class="form-control">
    </div>

    <div class="form-group">
      <label>challenge_question</label>
      <input formControlName="challenge_question" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>challenge_type</label>
      <input formControlName="challenge_type" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>questionDifficulty</label>
      <input formControlName="questionDifficulty" class="form-control" type="text">
    </div>

    <button (click)="onUpload()" class="btn btn-success">Create</button>
  </form>
</div>