<h2>E - Kita Question Difficulties</h2>

<table>
	<tr>
    <th>id</th>
    <th>difficulty</th>
    <th>delete</th>
	</tr>
  <tr *ngFor="let level of levels">
    <a routerLink="/question-difficulties/{{level.id}}"><td>{{level.id}}</td></a>
    <td>{{level.question_difficulty_name}}</td>
    <td>
      <button class="btn btn-danger" (click)="delete(level)"> Delete</button>
    </td>
  </tr>
</table>
<a href="question-difficulties-create"><button class="btn btn-success">create level</button></a>
<!-- <app-question-difficulty-create></app-question-difficulty-create> -->