<div *ngIf="learningTopic">
  <h2>{{learningTopic.learning_topic_name | uppercase}} Details</h2>
  <div><span>id: </span>{{learningTopic.id}}</div>
  <div>
    <label>learning_topic_id:
      <input [(ngModel)]="learningTopic.question_difficulty_id"/>
    </label>
  </div>
  <div>
    <label>learning_item_xp :
      <input [(ngModel)]="learningTopic.question_category_id"/>
    </label>
  </div>
    <div>
    <label>learning_item_title:
      <input [(ngModel)]="learningTopic.learning_topic_name"/>
    </label>
  </div>
    <div>
    <label>learning_item_image:
      <input [(ngModel)]="learningTopic.learning_topic_image" />
    </label>
  </div>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>