<div class="container-fluid">
  <h2>add Learning Item</h2>
  <form [formGroup]="addForm">
    <div class="form-group">
      <label>learning_topic_id </label>
      <input type="text" formControlName="learning_topic_id" class="form-control">
      <select>
        <option *ngFor="let l of learningTopics">
          {{l?.id}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>learning_item_xp </label>
      <input type="text" formControlName="learning_item_xp" class="form-control">
    </div>

    <div class="form-group">
      <label>learning_item_title </label>
      <input type="text" formControlName="learning_item_title" class="form-control">
    </div>
    
    <div class="form-group">
      <label>learning_item_image </label>    
      <input type="file" (change)="onFileChanged($event)">
    </div>
    <button (click)="onUpload()" class="btn btn-success">Update</button>
  </form>
</div>