<div class="container-fluid">
  <h2>add Learning Item</h2>
  <form [formGroup]="addForm">
    <div class="form-group">
      <label>learning_topic_id </label>
      <!-- <input type="text" formControlName="learning_topic_id" class="form-control"> -->
      <select formControlName="learning_topic_id" class="form-control">
        <option *ngFor="let l of learningTopics"  value="{{l.id}}">
          {{l.learning_topic_name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>learning_item_xp </label>
      <input type="text" formControlName="learning_item_xp" class="form-control">
    </div>

    <div class="form-group">
      <label>learning_item_title </label>
      <input type="text" formControlName="learning_item_title" class="form-control">
    </div>
    
    <div class="form-group">
      <label>learning_item_image </label>    
      <input type="file" (change)="onFileChanged($event)" class="form-control">
    </div>
    <button (click)="onUpload()" class="btn btn-success">Update</button>
  </form>
</div>