<div *ngIf="challenge">
  <h2>{{challenge.name | uppercase}} Details</h2>
  <div><span>id: </span>{{challenge.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="challenge.challenge_question" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>xp:
      <input [(ngModel)]="challenge.challenge_xp" placeholder="xp"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->