<div *ngIf="challenge" class="container">
  <div>
    <h2>update challenge id : {{challenge.id}}</h2>
  </div>
  <div class="form-group">
    <label>question_category_id</label>
      <input class="form-control" [(ngModel)]="challenge.question_category_id" />
  </div>
  <div class="form-group">
    <label>question_difficulty_id</label>
      <input class="form-control" [(ngModel)]="challenge.question_difficulty_id" />
  </div>
  <div class="form-group">
    <label>challenge_xp</label>
      <input class="form-control" [(ngModel)]="challenge.challenge_xp" />
  </div>
  <div class="form-group">
    <label>challenge_star</label>
      <input class="form-control" [(ngModel)]="challenge.challenge_star" />
  </div>
  <div class="form-group">
    <label>challenge_image</label>
      <!-- <input [(ngModel)]="challenge.challenge_image" /> -->
      <input class="form-control" type="file" (change)="onFileChanged($event)" class="form-control">
  </div>
  <div class="form-group">
    <label>challenge_question</label>
      <input class="form-control" [(ngModel)]="challenge.challenge_question" />
  </div>
  <button class="btn btn-secondary" (click)="goBack()">go back</button>
  <button class="btn btn-success ml-2" (click)="save()">save</button>
</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->