<div *ngIf="challenge">
  <h2>{{challenge.name | uppercase}} Details</h2>
  <div><span>id: </span>{{challenge.id}}</div>
  <div>
    <label>question_category_id:
      <input [(ngModel)]="challenge.question_category_id"/>
    </label>
  </div>
  <div>
    <label>question_difficulty_id :
      <input [(ngModel)]="challenge.question_difficulty_id"/>
    </label>
  </div>
    <div>
    <label>challenge_xp:
      <input [(ngModel)]="challenge.challenge_xp"/>
    </label>
  </div>
    <div>
    <label>challenge_star:
      <input [(ngModel)]="challenge.challenge_star" />
    </label>
  </div>
    <div>
    <label>challenge_image:
      <input [(ngModel)]="challenge.challenge_image" />
    </label>
  </div>
    <div>
    <label>challenge_question:
      <input [(ngModel)]="challenge.challenge_question" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->