<div *ngIf="questionCategory" class="container">
  <div>
    <h2>
      Update Question Category : {{questionCategory.id}}
    </h2>
  </div>
  <div class="form-group">
    <label>Level id</label>
      <input class="form-control" [(ngModel)]="questionCategory.question_difficulty_id"/>
  </div>
  <div class="form-group">
    <label>learning_topic_id</label>
      <input class="form-control" [(ngModel)]="questionCategory.question_category_name"/>
  </div>
  <button class="btn btn-secondary" (click)="goBack()">go back</button>
  <button class="btn btn-success ml-2" (click)="save()">save</button>
</div>